[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
support = {editable = true, file = "file:///Users/davidbravo/GH-Repos/aoc2021/support"}
pytest = "*"

[dev-packages]
pre-commit = "*"
pytest = "*"

[requires]
python_version = "3.8"
